/* nvav bar design Start*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}

.nav-menu{
    flex-direction:row;
    justify-content: flex-end;
}

.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}

/* nvav bar design End*/


/* Profile design Star*/

.profile .top-weather{
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.profile .top-weather:hover{
    width: 140px;
}

.profile .bottom-weather{
    bottom: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather:hover{
    width: 140px;
}

/* Profile design End*/


/* Aboutme design start here*/

.aboutme-image {
    margin-top: 100px;
}

.aboutme-image img{
    height: 270px;
    width: 250px;
}

.about-desc p{
    text-align: left;
}

/* Aboutme design Ends here*/

/*--skill design starts here*/
.professional-experience{
    padding: 1% 5%;

}
/*--skill design ends here*/


/* Achievement design starts here*/

.achievement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
} 

.contract-link{
   position: relative;
}
.media-button btn{
   position: absolute;
   margin-top: 200px;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);

}

/* Achievement design ends here*/


/* Footer design starts here*/
.footer{
    margin-top: 12px;
}

.footer a{
    display: inline;
    margin: 10px;
}


/* Footer design ends here*/